@font-face {
  font-family: "Nunito";
  src: url('./nunito-v14-latin-regular.woff') format('woff')
}
* {
  font-family: "Nunito"; 
}

body {
  color: white;
  text-align: center;
}

#divParameters {
  font-size: 18;
  margin: 0 auto;
  width: 50%;
  color: white;
  border: black dashed 5px;
  background-color: rgba(65, 39, 11, 0.541);
}

#tabla {
  border-collapse: separate;
  border-spacing: 50px 0;
  font-size: 18;
  margin: 0 auto;
  margin-top: 50px;
  text-align: center;
}


footer {
  /* border-top-right-radius: 10%; */
  border-radius: 10px;
}