@font-face {
  font-family: "Nunito";
  src: url('./nunito-v14-latin-regular.woff') format('woff')
}
* {
  font-family: "Nunito"; 
}

body {
  color: white;
}

footer {
  /* border-top-right-radius: 10%; */
  border-radius: 10px;
}